Repository CaZaIt/CaZaIt-Server, pull requests merged in 2023-02, with the labels that each got.

#105 주소명 검색 API 리팩토링
  src/main/java/shop/cazait/domain/cafe/api/CafeController.java
  src/main/java/shop/cazait/domain/cafe/dto/CoordinateVO.java
  src/main/java/shop/cazait/domain/cafe/dto/Documents.java
  src/main/java/shop/cazait/domain/cafe/entity/Cafe.java
  src/main/java/shop/cazait/domain/cafe/service/CafeService.java
  src/main/java/shop/cazait/domain/cafe/service/CoordinateService.java
  src/main/java/shop/cazait/domain/checklog/dto/GetCheckLogRes.java
  src/main/java/shop/cazait/domain/favorites/dto/GetFavoritesRes.java
  src/main/resources/h2/data.sql
Labels: 📬 API, 🔨 Refactor

#108 gradle wrapper 추가
  gradle/wrapper/gradle-wrapper.jar
Labels: ⚙ Setting

#111 어노테이션 수정
  src/main/java/shop/cazait/domain/cafe/exception/CafeException.java
  src/main/java/shop/cazait/domain/cafeimage/exception/CafeImageException.java
  src/main/java/shop/cazait/global/error/exception/BaseException.java
Labels: 🔨 Refactor

#117 Cafe API 연관관계 고려
  src/main/java/shop/cazait/domain/cafe/api/CafeController.java
  src/main/java/shop/cazait/domain/cafe/dto/GetCafesRes.java
  src/main/java/shop/cazait/domain/cafe/repository/CafeRepository.java
  src/main/java/shop/cazait/domain/cafe/service/CafeService.java
  src/main/java/shop/cazait/domain/congestion/entity/CongestionStatus.java
  src/main/java/shop/cazait/domain/master/entity/Master.java
  src/main/java/shop/cazait/domain/master/repository/MasterRepository.java
  src/main/java/shop/cazait/global/error/status/ErrorStatus.java
  src/main/resources/h2/data.sql
Labels: ✨ Feature, 📬 API, 🔨 Refactor

#119 서버 Url 추가 및 Consume type 추가
  src/main/java/shop/cazait/global/config/swagger/SwaggerConfig.java
  src/main/java/shop/cazait/global/config/swagger/SwaggerUrlConfig.java
Labels: 📚Swagger

#121 즐겨찾기, 최근 본 카페 조회 API 수정
  src/main/java/shop/cazait/domain/checklog/dto/GetCheckLogRes.java
  src/main/java/shop/cazait/domain/checklog/service/CheckLogService.java
  src/main/java/shop/cazait/domain/favorites/dto/GetFavoritesRes.java
Labels: 📬 API, 🔨 Refactor

#125 Swagger JWT 설정 변경
  src/main/java/shop/cazait/global/config/encrypt/WebConfig.java
  src/main/java/shop/cazait/global/config/swagger/SwaggerConfig.java
Labels: 📚Swagger

#126 Swagger JWT 설정 변경
  src/main/java/shop/cazait/global/config/swagger/SwaggerConfig.java
Labels: 📚Swagger

#103 User 기능 2차 리팩토링
  src/main/java/shop/cazait/domain/user/api/UserApiController.java
  src/main/java/shop/cazait/domain/user/service/UserService.java
  src/main/java/shop/cazait/global/config/encrypt/AuthenticationInterceptor.java
  src/main/java/shop/cazait/global/config/encrypt/JwtService.java
  src/main/java/shop/cazait/global/error/status/ErrorStatus.java
Labels: 🐞 BugFix, 🔨 Refactor, 📚Swagger

#134 Cafe 거리 관련 api
  src/main/java/shop/cazait/domain/cafe/api/CafeController.java
  src/main/java/shop/cazait/domain/cafe/dto/GetCafesRes.java
  src/main/java/shop/cazait/domain/cafe/dto/PostDistanceReq.java
  src/main/java/shop/cazait/domain/cafe/service/CafeService.java
  src/main/java/shop/cazait/domain/cafe/service/DistanceService.java
Labels: ✨ Feature, 📬 API

#136 카페 생성 API 리팩토링
  src/main/java/shop/cazait/domain/cafe/api/CafeController.java
  src/main/java/shop/cazait/domain/cafe/service/CafeService.java
  src/main/java/shop/cazait/domain/cafe/service/CoordinateService.java
  src/main/java/shop/cazait/global/util/s3/AwsS3Service.java
Labels: 📬 API, 🔨 Refactor

#138 Master 3차 리팩토링
  src/main/java/shop/cazait/domain/master/api/MasterController.java
  src/main/java/shop/cazait/domain/master/entity/Master.java
  src/main/java/shop/cazait/domain/master/service/MasterService.java
Labels: 🐞 BugFix, ✨ Feature, 🔨 Refactor

#142 Master login 로직 수정 및 API 통일
  src/main/java/shop/cazait/domain/master/api/MasterController.java
  src/main/java/shop/cazait/domain/master/entity/Master.java
  src/main/java/shop/cazait/domain/master/service/MasterService.java
Labels: 📬 API, 🔨 Refactor

#148 마스터 로그인 API 오류 수정
  src/main/java/shop/cazait/domain/master/dto/post/PostMasterLogInReq.java
  src/main/java/shop/cazait/domain/master/dto/post/PostMasterReq.java
  src/main/java/shop/cazait/domain/master/service/MasterService.java
Labels: 🐞 BugFix, 📬 API

#150 [Chore] #136 - 카페 등록 Request 관련 수정
  src/main/java/shop/cazait/domain/cafe/api/CafeController.java
Labels: 📬 API, 🔨 Refactor

#155 User 로그인 api 추가 및 오류 수정
  src/main/java/shop/cazait/domain/user/api/UserApiController.java
  src/main/java/shop/cazait/domain/user/service/UserService.java
Labels: 🐞 BugFix, 📬 API, 🔨 Refactor

#158 Cafe Response 시 페이징 처리
  src/main/java/shop/cazait/domain/cafe/api/CafeController.java
  src/main/java/shop/cazait/domain/cafe/dto/PostDistanceReq.java
  src/main/java/shop/cazait/domain/cafe/repository/CafeRepository.java
  src/main/java/shop/cazait/domain/cafe/service/CafeService.java
  src/main/resources/h2/data.sql
Labels: ✨ Feature, 📬 API

#159 user 예외처리 추가
  src/main/java/shop/cazait/domain/user/api/UserApiController.java
  src/main/java/shop/cazait/global/config/encrypt/JwtService.java
Labels: 🐞 BugFix, 🔨 Refactor

#161 Cafe Image Response
  src/main/java/shop/cazait/domain/cafe/dto/GetCafeRes.java
  src/main/java/shop/cazait/domain/cafe/dto/GetCafesRes.java
  src/main/java/shop/cazait/domain/cafe/service/CafeService.java
  src/main/java/shop/cazait/domain/cafeimage/dto/GetCafeImageRes.java
  src/main/java/shop/cazait/domain/cafeimage/repository/CafeImageRepository.java
Labels: ✨ Feature, 📬 API

#162 필요없는 ApiImplicitParam 설명 제거
  src/main/java/shop/cazait/domain/cafe/api/CafeController.java
Labels: 📚Swagger

#167 Querydsl 적용
  build.gradle
  src/main/generated/querydsl/shop/cazait/domain/cafe/entity/QCafe.java
  src/main/generated/querydsl/shop/cazait/domain/cafe/entity/QCoordinate.java
  src/main/generated/querydsl/shop/cazait/domain/cafeimage/entity/QCafeImage.java
  src/main/generated/querydsl/shop/cazait/domain/cafemenu/entity/QCafeMenu.java
  src/main/generated/querydsl/shop/cazait/domain/checklog/entity/QCheckLog.java
  src/main/generated/querydsl/shop/cazait/domain/congestion/entity/QCongestion.java
  src/main/generated/querydsl/shop/cazait/domain/favorites/entity/QFavorites.java
  src/main/generated/querydsl/shop/cazait/domain/master/entity/QMaster.java
  src/main/generated/querydsl/shop/cazait/domain/review/entity/QReview.java
  src/main/generated/querydsl/shop/cazait/domain/user/entity/QUser.java
  src/main/generated/querydsl/shop/cazait/global/common/entity/QBaseEntity.java
  src/main/java/shop/cazait/global/config/querydsl/QuerydslConfig.java
Labels: ⚙ Setting

#169 user 중복확인 api 수정
  src/main/java/shop/cazait/domain/user/api/UserApiController.java
Labels: 🐞 BugFix, 📬 API

#170 카페 생성 API 오류 수정
  src/main/java/shop/cazait/domain/cafe/api/CafeController.java
  src/main/java/shop/cazait/domain/cafe/dto/GetCafeRes.java
  src/main/java/shop/cazait/domain/cafe/dto/GetCafesRes.java
  src/main/java/shop/cazait/domain/cafe/dto/PostCafeReq.java
  src/main/java/shop/cazait/global/error/exception/GlobalExceptionHandler.java
Labels: 🐞 BugFix, 📬 API, 🔨 Refactor

#172 Cafe 조회 시 페이징 처리 - 2
  src/main/java/shop/cazait/domain/cafe/api/CafeController.java
  src/main/java/shop/cazait/domain/cafe/service/CafeService.java
Labels: ✨ Feature, 📬 API, 🔨 Refactor

#175 Cafe 관련 dto Swagger 설명 수정
  src/main/java/shop/cazait/domain/cafe/dto/GetCafeRes.java
  src/main/java/shop/cazait/domain/cafe/dto/GetCafesRes.java
  src/main/java/shop/cazait/domain/cafe/dto/PostDistanceReq.java
Labels: 📚Swagger

#176 카페 메뉴 생성 및 수정 API 리팩토링
  src/main/java/shop/cazait/domain/cafemenu/api/CafeMenuApiController.java
  src/main/java/shop/cazait/domain/cafemenu/dto/PostCafeMenuReq.java
  src/main/java/shop/cazait/domain/cafemenu/dto/PostCafeMenuRes.java
  src/main/java/shop/cazait/domain/cafemenu/service/CafeMenuService.java
Labels: 🐞 BugFix, 📬 API, 🔨 Refactor, 📚Swagger

#177 카페 생성 API 리팩토링
  src/main/java/shop/cazait/domain/cafe/api/CafeController.java
  src/test/java/shop/cazait/CazaitApplicationTests.java
Labels: 📬 API, 📚Swagger

#178 @Valid에 대한 예외 처리 오류 수정
  src/main/java/shop/cazait/domain/user/api/UserApiController.java
  src/main/java/shop/cazait/global/error/exception/ValidException.java
Labels: 🐞 BugFix

#180 user 중복확인 api 수정
  src/main/java/shop/cazait/domain/user/api/UserApiController.java
  src/main/java/shop/cazait/domain/user/dto/PostDuplicateEmailReq.java
  src/main/java/shop/cazait/domain/user/dto/PostDuplicateNicknameReq.java
Labels: 🐞 BugFix, 📬 API

#182 Cafe GET 시 body 없이 param으로 조회
  src/main/java/shop/cazait/domain/cafe/api/CafeController.java
  src/main/java/shop/cazait/domain/cafe/dto/PostDistanceReq.java
  src/main/java/shop/cazait/domain/cafe/service/CafeService.java
Labels: 🐞 BugFix, 📬 API

#184 Cafe Image 리팩토링
  src/main/java/shop/cazait/domain/cafe/service/CafeService.java
  src/main/java/shop/cazait/domain/cafeimage/api/CafeImageController.java
  src/main/java/shop/cazait/domain/cafeimage/dto/PostCafeImageReq.java
  src/main/java/shop/cazait/domain/cafeimage/service/CafeImageService.java
Labels: ✨ Feature, 📬 API, 🔨 Refactor

#185 Master 리팩토링 및 세부사항 추가
  src/main/java/shop/cazait/domain/master/api/MasterController.java
  src/main/java/shop/cazait/domain/master/dto/post/PostMasterLogInReq.java
  src/main/java/shop/cazait/domain/master/dto/post/PostMasterReq.java
  src/main/java/shop/cazait/domain/master/service/MasterService.java
Labels: 🐞 BugFix, 📬 API, 🔨 Refactor

#186 닉네임, 이메일 중복 처리 로직 수정 후 예외 처리 추가
  src/main/java/shop/cazait/domain/user/api/UserApiController.java
  src/main/java/shop/cazait/domain/user/dto/PostDuplicateEmailReq.java
  src/main/java/shop/cazait/domain/user/dto/PostDuplicateNicknameReq.java
  src/main/java/shop/cazait/global/error/exception/GlobalExceptionHandler.java
Labels: 📬 API, 🔨 Refactor

#190 Refactor response
  src/main/java/shop/cazait/domain/auth/api/AuthController.java
  src/main/java/shop/cazait/domain/cafe/api/CafeController.java
  src/main/java/shop/cazait/domain/cafe/service/CafeService.java
  src/main/java/shop/cazait/domain/cafeimage/api/CafeImageController.java
  src/main/java/shop/cazait/domain/cafeimage/service/CafeImageService.java
  src/main/java/shop/cazait/domain/cafemenu/api/CafeMenuApiController.java
  src/main/java/shop/cazait/domain/cafemenu/service/CafeMenuService.java
  src/main/java/shop/cazait/domain/checklog/api/CheckLogApiController.java
  src/main/java/shop/cazait/domain/congestion/api/CongestionApiController.java
  src/main/java/shop/cazait/domain/congestion/service/CongestionService.java
  src/main/java/shop/cazait/domain/favorites/api/FavoritesApiController.java
  src/main/java/shop/cazait/domain/favorites/service/FavoritesService.java
  src/main/java/shop/cazait/domain/master/api/MasterController.java
  src/main/java/shop/cazait/domain/review/api/ReviewApiController.java
  src/main/java/shop/cazait/domain/review/exception/ReviewException.java
  src/main/java/shop/cazait/domain/review/service/ReviewDaoService.java
  src/main/java/shop/cazait/domain/review/service/ReviewProvideService.java
  src/main/java/shop/cazait/domain/user/api/UserApiController.java
  src/main/java/shop/cazait/domain/user/service/UserService.java
  src/main/java/shop/cazait/global/common/constant/Constant.java
  src/main/java/shop/cazait/global/common/dto/response/FailResponse.java
  src/main/java/shop/cazait/global/common/dto/response/SuccessResponse.java
  src/main/java/shop/cazait/global/error/status/ErrorStatus.java
  src/main/java/shop/cazait/global/error/status/SuccessStatus.java
Labels: 📬 API, 🔨 Refactor

#193 리뷰 작성 uri 변경
  src/main/java/shop/cazait/domain/review/api/ReviewApiController.java
  src/main/java/shop/cazait/domain/review/dto/PostReviewReq.java
  src/main/java/shop/cazait/domain/review/service/ReviewDaoService.java
Labels: 📬 API, 🔨 Refactor

#195 엔티티 검색 시 find 메소드 사용
  src/main/java/shop/cazait/domain/cafemenu/service/CafeMenuService.java
  src/main/java/shop/cazait/domain/congestion/service/CongestionService.java
  src/main/java/shop/cazait/domain/favorites/service/FavoritesService.java
  src/main/java/shop/cazait/domain/review/service/ReviewDaoService.java
  src/main/java/shop/cazait/global/error/status/ErrorStatus.java
Labels: 🐞 BugFix, 📬 API

#200 Cafe API Response 리팩토링
  src/main/java/shop/cazait/domain/cafe/api/CafeController.java
  src/main/java/shop/cazait/domain/cafe/dto/PostCafeReq.java
  src/main/java/shop/cazait/domain/cafe/dto/PostCafeRes.java
  src/main/java/shop/cazait/domain/cafe/service/CafeService.java
  src/main/java/shop/cazait/domain/cafeimage/api/CafeImageController.java
  src/main/java/shop/cazait/domain/cafeimage/service/CafeImageService.java
Labels: 📬 API, 🔨 Refactor

#215 bearer token 적용
  build.gradle
  src/main/java/shop/cazait/domain/auth/api/AuthController.java
  src/main/java/shop/cazait/domain/cafe/api/CafeController.java
  src/main/java/shop/cazait/domain/cafeimage/api/CafeImageController.java
  src/main/java/shop/cazait/domain/cafemenu/api/CafeMenuApiController.java
  src/main/java/shop/cazait/domain/checklog/api/CheckLogApiController.java
  src/main/java/shop/cazait/domain/congestion/api/CongestionApiController.java
  src/main/java/shop/cazait/domain/congestion/dto/PostCongestionRes.java
  src/main/java/shop/cazait/domain/favorites/api/FavoritesApiController.java
  src/main/java/shop/cazait/domain/master/api/MasterController.java
  src/main/java/shop/cazait/domain/master/dto/patch/PatchMasterReq.java
  src/main/java/shop/cazait/domain/review/api/ReviewApiController.java
  src/main/java/shop/cazait/domain/review/dto/DelReviewRes.java
  src/main/java/shop/cazait/domain/review/dto/PatchReviewRes.java
  src/main/java/shop/cazait/domain/user/api/UserApiController.java
  src/main/java/shop/cazait/domain/user/dto/PatchUserRes.java
  src/main/java/shop/cazait/global/config/encrypt/AuthenticationInterceptor.java
  src/main/java/shop/cazait/global/config/encrypt/JwtService.java
  src/main/java/shop/cazait/global/config/openApi/OpenApiConfig.java
  src/main/java/shop/cazait/global/config/swagger/SwaggerConfig.java
  src/main/java/shop/cazait/global/config/swagger/SwaggerUrlConfig.java
Labels: ✨ Feature

#214 openapi 적용
  src/main/java/shop/cazait/domain/auth/api/AuthController.java
  src/main/java/shop/cazait/domain/cafe/api/CafeController.java
  src/main/java/shop/cazait/domain/cafemenu/api/CafeMenuApiController.java
Labels: 🐞 BugFix, 🔨 Refactor, ⚙ Setting, 📚Swagger

#216 이전 Swagger import 제거
  src/main/java/shop/cazait/domain/master/api/MasterController.java
Labels: 🐞 BugFix

#219 Cafe API 4차 리팩토링
  src/main/java/shop/cazait/domain/cafe/api/CafeController.java
  src/main/java/shop/cazait/domain/cafe/service/CafeService.java
  src/main/java/shop/cazait/domain/cafeimage/api/CafeImageController.java
Labels: 🔨 Refactor
